<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout}">

	<head>
		<title>Not EtternaOnline</title>	
	</head>
	
<body>

	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Welcome to not Etterna Online</h1>
					<h3>Another Etterna Leaderboard and Database</h3>
					<h6>and more</h6>
				</div>
			</div>
			<div class="row" style="margin-top: 10vh;">
				<p>This site is very much a work in progress. Have a look around.</p>
			</div>
		</div>
	</div>

	
</body>
</html>