<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style>
		.bg-primary {
			background-color: #614080 !important;
		}
		body {
			background-color: #efefef;
		}
		.btn-link:hover {
			color: rgba(255,255,255,.75);
		}
		.btn-link {
			color: rgba(255,255,255,.5);
			text-decoration: none !important;
		}
	</style>
</head>
<body>

	<!-- Main Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<a class="navbar-brand" th:href="@{/}">notEtternaOnline</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar" aria-controls="navbar" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
		</ul>
		
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/leaderboard}">Leaderboard</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/packs}">Packs</a></li>
				<li class="nav-item"><a class="nav-link" href="https://etternaonline.com">Real EO</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" 
						th:href="@{/user/{username}(username=${#authentication.getPrincipal().getUsername()})}"
						th:text="${#authentication.getPrincipal().getUsername()}"></a>
				</li>
				
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Log In</a></li>
				<li sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<input class="btn btn-link" type="submit" value="Log Out"/>
					</form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Content Section -->
	<div class="container-fluid" style="margin-top: 12px;">
		<section layout:fragment="content">
			<p>you shouldn't be able to see this...</p>
		</section>
	</div>

	<!-- Footer -->
	<footer class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<p class="text-muted">🥴</p>
			</div>
		</div>
	</footer>

</body>
</html>