<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout}">

	<head>
		<title>Not EtternaOnline</title>	
	</head>
	
<body>

	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 th:text="${'Multiplayer Session ' + sessionId}"></h1>
					<h2 th:text="${'Name: ' + lobby.name}"></h2>
					<h4 th:if="${lobby.description != null}" th:text="${'Description: ' + lobby.description}"></h4>
					<h6 th:text="${'Active: ' + lobby.active}"></h6>
					<h6 th:text="${'Created: ' + lobby.created}"></h6>
					<h6 th:text="${'Creator: ' + lobby.creator.username}"></h6>
				</div>
			</div>
	
			<div th:object="${players}" class="row" style="margin-top: 4vh;">
				<h5>Session Players:</h5>
				<table th:if="${#lists.size(players) > 0}" class="table table-hover table-sm">
				
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Currently In Room</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user, stat: ${players}">
							<th scope="row" th:text="${stat.index + 1}"></th>
							<th scope="row" th:text="${user.user.username}"></th>
							<th scope="row" th:text="${user.active && lobby.active}"></th>
						</tr>
					</tbody>
				</table>
				<div class="container" th:unless="${#lists.size(players) > 0}">
					<h6>No users ever joined this lobby...</h6>
				</div>
			</div>
			
			<div th:object="${scores}" class="row" style="margin-top: 4vh;">
				<h5>Session Scores:</h5>
				<table th:if="${#lists.size(scores) > 0}" class="table table-hover table-sm">
				
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Player</th>
							<th scope="col">Chart</th>
							<th scope="col">Percent</th>
							<th scope="col">Rate</th>
							<th scope="col">Date</th>
							<th scope="col">Overall</th>
							<th scope="col">Stream</th>
							<th scope="col">Jumpstream</th>
							<th scope="col">Handstream</th>
							<th scope="col">Stamina</th>
							<th scope="col">Jackspeed</th>
							<th scope="col">Chordjacks</th>
							<th scope="col">Technical</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="score, stat: ${scores}">
							<th scope="row" th:text="${stat.index + 1}"></th>
							<th scope="row" th:text="${score.score.user.username}"></th>
							<th th:if="${score.chart != null}" scope="row"><a th:href="@{/chart/{chartkey}(chartkey=${score.chartkey})}" th:text="${score.chart.title}"></a></th>
							<th th:unless="${score.chart != null}" scope="row"><a th:text="${score.chartkey}"></a></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.wifePercent * 100.0, 2, 4)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.musicRate / 100.0, 1, 2) + 'x'}"></th>
							<th scope="row" th:text="${score.score.dateStr}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss1, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss2, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss3, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss4, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss5, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss6, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss7, 2, 2)}"></th>
							<th scope="row" th:text="${#numbers.formatDecimal(score.score.ss8, 2, 2)}"></th>
						</tr>
					</tbody>
				</table>
				<div class="container" th:unless="${#lists.size(scores) > 0}">
					<h6>No scores ever set in this lobby...</h6>
				</div>
			</div>
			
			<div th:object="${messages}" class="row" style="margin-top: 4vh;">
				<h5>Session Message History:</h5>
				<table th:if="${#lists.size(messages) > 0}" class="table table-hover table-sm">
				
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Sender</th>
							<th scope="col">Content</th>
							<th scope="col">Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="message, stat: ${messages}">
							<th scope="row" th:text="${stat.index + 1}"></th>
							<th scope="row" th:text="${message.sender}"></th>
							<th scope="row" th:text="${message.content}"></th>
							<th scope="row" th:text="${message.sent}"></th>
						</tr>
					</tbody>
				</table>
				<div class="container" th:unless="${#lists.size(messages) > 0}">
					<h6>No messages ever sent in this lobby...</h6>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>