<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" 
   xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout}">

	<head>
		<title>Not EtternaOnline</title>	
	</head>
	
<body>

	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1><a th:text="${score.chartUnion.chart.title + ' - ' + score.chartUnion.chart.difficulty}" th:href="@{/chart/{ck}(ck=${score.chartUnion.chart.chartKey})}"></a></h1>
					<h3 th:text="${#numbers.formatDecimal(score.hsunion.musicRate / 100.0, 1, 2) + 'x'}"></h3>
					<h5 th:text="${#numbers.formatDecimal(score.hsunion.ssrNorm / 10000.0, 2, 4) + '%'}"></h5>
					<h6><a th:text="${'By: ' + score.user.username}" th:href="@{/user/{user}(user=${score.user.username})}"></a></h6>
					<h6 th:text="${'Date: ' + score.hsunion.dateStr}"></h6>
					<h6 th:text="${'Mods: ' + score.hsunion.modString}"></h6>
					<h6>Packs:</h6>
					<h6 th:each="pack, stat: ${packs}"><a th:text="${pack.displayName}" th:href="@{/packs/{pack}(pack=${pack.name})}"></a></h6>
				</div>
			</div>

			<div class="row" style="margin-top: 5vh;">
				<div class="col-md-12 text-center">
					<h6 th:text="${'Overall: ' + #numbers.formatDecimal(score.hsUnion.overall, 2, 2)}"></h6>
					<h6 th:text="${'Stream: ' + #numbers.formatDecimal(score.hsUnion.stream, 2, 2)}"></h6>
					<h6 th:text="${'Jumpstream: ' + #numbers.formatDecimal(score.hsUnion.jumpstream, 2, 2)}"></h6>
					<h6 th:text="${'Handstream: ' + #numbers.formatDecimal(score.hsUnion.handstream, 2, 2)}"></h6>
					<h6 th:text="${'Stamina: ' + #numbers.formatDecimal(score.hsUnion.stamina, 2, 2)}"></h6>
					<h6 th:text="${'Jackspeed: ' + #numbers.formatDecimal(score.hsUnion.jackspeed, 2, 2)}"></h6>
					<h6 th:text="${'Chordjack: ' + #numbers.formatDecimal(score.hsUnion.chordjack, 2, 2)}"></h6>
					<h6 th:text="${'Technical: ' + #numbers.formatDecimal(score.hsUnion.technical, 2, 2)}"></h6>
				</div>
			</div>
			
			<div class="row" style="margin-top: 2vh;">
				<div class="container">
				
					<h5>Judgments</h5>
					<a th:text="${'Marvelous: '+score.hsunion.marvCount}"></a><br>
					<a th:text="${'Perfect: '+score.hsunion.perfCount}"></a><br>
					<a th:text="${'Great: '+score.hsunion.greatCount}"></a><br>
					<a th:text="${'Good: '+score.hsunion.goodCount}"></a><br>
					<a th:text="${'Bad: '+score.hsunion.badCount}"></a><br>
					<a th:text="${'Miss: '+score.hsunion.missCount}"></a><br>
					
					<br>
					<a th:text="${'Holds Held: '+score.hsunion.heldCount}"></a><br>
					<a th:text="${'Holds Dropped: '+score.hsunion.letgoCount}"></a><br>
					<a th:text="${'Holds Missed: '+score.hsunion.ngCount}"></a><br>
					
					<br>
					<a th:text="${'Mines Hit: '+score.hsunion.hitMineCount}"></a><br>
					
					<br><br>
					
					<h5>Extra Info</h5>
					<a th:text="${'Max Combo: '+score.hsunion.maxCombo}"></a><br>
					<a th:text="${'Grade: '+score.hsunion.grade}"></a><br>
					<a th:text="${'WifeGrade: '+score.hsunion.wifeGrade}"></a><br>
					<a th:text="${'WifeVersion: '+score.hsunion.wifeVersion}"></a><br>
					<a th:text="${'WifePoints: '+score.hsunion.wifePoints}"></a><br>
					<a th:text="${'Original WifePercent: '+score.hsunion.wifePercent}"></a><br>
					<a th:text="${'Judge Scale: '+score.hsunion.judgeScale}"></a><br>
					<a th:text="${'TopScore: '+score.hsunion.topScore}"></a><br>
					<a th:text="${'EtternaValid: '+score.hsunion.etternaValid}"></a><br>
					<a th:text="${'NegBPM: '+score.hsunion.negBpm}"></a><br>
					<a th:text="${'NoCC: '+score.hsunion.noCC}"></a><br>
					
					<br><br>
					
					<div sec:authorize="hasAuthority('ROLE_ADMIN')">
						<h5>Secret Info</h5>
						<a th:text="${'Brittle Key: '+score.hsunion.brittleKey}"></a><br>
						<a th:text="${'GUID: '+score.hsunion.guid}"></a><br>
						<a th:text="${'Nerf Multiplier: '+score.hsunion.nerfMultiplier}"></a><br>
						<a th:text="${'Admin Invalidation: '+score.hsunion.manuallyInvalid}"></a><br>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>